[include moonraker_obico_macros.cfg]
[include mainsail.cfg]
[include input_shaper.cfg]
[include print_start.cfg]
[include print_end.cfg]
[include bltouch.cfg]
[include bed_mesh.cfg]

#########################################
# Printer: TwoTrees Sapphire Plus SP-5 V3
# Mainboard: MKS Robin Nano V3.1
# https://www.makerbase.store/pages/mks-robin-nano-v3-1-intro
# Stepper Motor Driver: TMC2209
#########################################

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f407xx_230022000850304E47313020-if00     #ls /dev/serial/by-id/*
restart_method: command

[printer]
kinematics: corexy
max_velocity: 500 #250
max_accel: 5000 #10000
max_accel_to_decel: 5000 #10000
max_z_velocity: 15
max_z_accel: 100

[stepper_x]
step_pin: PE3
dir_pin: !PE2
enable_pin: !PE4
microsteps: 16
rotation_distance: 80
endstop_pin: !PA15
position_endstop: 0
position_min: 0
position_max: 255
homing_speed: 50

[stepper_y]
step_pin: PE0
dir_pin: !PB9
enable_pin: !PE1
microsteps: 16
rotation_distance: 80
endstop_pin: !PD2
position_endstop: 280
position_min: 20
position_max: 280
homing_speed: 50

[stepper_z]
step_pin: PB5
dir_pin: !PB4
enable_pin: !PB8
microsteps: 16
rotation_distance: 16
endstop_pin: probe:z_virtual_endstop #!PC8
position_max: 340
position_min: -6.0

[extruder]
step_pin: PD6
dir_pin: PD3
enable_pin: !PB3
microsteps: 16
rotation_distance: 11.24
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PE5
sensor_type: EPCOS 100K B57560G104F #original file ATC Semitec 104GT-2
sensor_pin: PC1
control = pid
pid_kp = 24.129
pid_ki = 1.141
pid_kd = 127.581
min_temp: 0
max_temp: 310
max_extrude_only_distance: 1000

[heater_bed]
heater_pin: PA0
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC0
control = pid
pid_kp = 72.159
pid_ki = 0.918
pid_kd = 1417.920
min_temp: 0
max_temp: 130

[fan]
pin: PC14   # fan1

[bed_screws]
screw1: 35,35
screw2: 275,35
screw3: 275,275
screw4: 35,275

#########################################
# ORCA-SLICER
#########################################
# Enable object exclusion
[exclude_object]

# Enable arcs support
[gcode_arcs]
resolution: 0.1

#[static_digital_output reset_display]
#pins: !PC6, !PD13

########################################
# EXP1 / EXP2 (display) pins
########################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PC5,  EXP1_3=PD13, EXP1_5=PE14, EXP1_7=PD11, EXP1_9=<GND>,
    EXP1_2=PE13, EXP1_4=PC6,  EXP1_6=PE15, EXP1_8=PD10, EXP1_10=<5V>,
    # EXP2 header
    EXP2_1=PA6, EXP2_3=PE8, EXP2_5=PE11, EXP2_7=PE12,  EXP2_9=<GND>,
    EXP2_2=PA5, EXP2_4=PE10, EXP2_6=PA7, EXP2_8=<RST>, EXP2_10=<3.3v>
    # Pins EXP2_1, EXP2_6, EXP2_2 are also MISO, MOSI, SCK of bus "ssp1"

# See the sample-lcd.cfg file for definitions of common LCD displays.

#########################################
# Above is my Config | Below system Configurations
#########################################
